body {
    font-family: 'Abril Fatface', cursive;
}

section {
    min-height: 100vh;
}

h2 {
    text-align: center;
    color: #c89454;
    font-size: 23px;
    line-height: 27px;
}

h3 {
    color: #3e3a3b;
    font-size: 27px;
    line-height: 31px;
}

h4 {
    color: #c89454;
    text-align: center;
    font-family: 'Kalam', sans-serif;
    font-size: 23px;
    line-height: 27px;
}

p {
    color: #7b7b7b;
    font-size: 15px;
    line-height: 25px;
    font-family: open sans, sans-serif;
}

a {
    color: #7b7b7b;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

a:hover, a:active {
    color: #c89454;
}

li {
    display: inline-block;
}


nav {
    text-align: center;
    margin-left: auto;
    padding: 14px 25px;
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 300px;
    top: 20px;
}

nav span {
    font-size: 16px;
    color: #3e3a3b
}

span {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    height: 20px;
    width: auto;
    padding-left: 4;
}

ul li {
    padding-left: 1em;
}

nav a {
    padding-left: 1em;
}

a i {
    color: #3e3a3b
}

#mainHeader {
    position: relative;
    bottom: -270px;
}

#upper-section {
    background-image: url("https://raw.githubusercontent.com/dariaomelkina/web_course_project/main/media/images/home-slider-1.jpg");
    height: 100%;
    width: 100%;
}

#destinations-section {
    background-image: url("https://raw.githubusercontent.com/dariaomelkina/web_course_project/main/media/images/home-background-1.jpg");
    height: 100%;
    width: 100%;
}

#destinations-section {
    padding-top: 46px;
    text-align: center;
    padding-bottom: 11%;
}

#destinations-section div p {
    margin-bottom: 70px;
}

#destinations-section ul li {
    width: 400px;
}

#experiences-section {
    display: inline-block;
    padding-top: 105px;
    padding-bottom: 83px;
    text-align: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 100px;
}

#experiences-section ul li {
    width: 269px;
}

#experiences-section ul li img {
    margin-bottom: 20px;
}

#experiences-section div h4 {
    text-align: left;
}

#experiences-section div {
    padding-left: 25px;
    margin-bottom: 30px;
}


#adventures-section {
    background-image: url("https://raw.githubusercontent.com/dariaomelkina/web_course_project/main/media/images/home-background-2.jpg");
    height: 100%;
    width: 100%;
    min-height: 73vh !important;
}

#adventures-section h4 {
    padding-top: 5em;
}

#adventures-section h1 {
    padding-bottom: 0.5em;
}

#video-section ul li {
    width: 500px;
    vertical-align: top;
}

#video-section ul li div img {
    width: 600px;
}

#video-section ul li div h4 {
    text-align: left;
}

#video-section ul li div {
    padding-left: 100px;
}

#video-section {
    min-height: 60vh !important;
    padding-top: 5%;
}

#reviews-section {
    min-height: 70vh !important;
}

.discoverButtonWrapper {
    padding-left: 0 !important;
    padding-top: 34px !important;
}

#reviews-section {
    background-image: url("https://raw.githubusercontent.com/dariaomelkina/web_course_project/main/media/images/home-background-3-1.jpg");
    height: 100%;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    background-image: url("https://raw.githubusercontent.com/dariaomelkina/web_course_project/main/media/images/home-background-brown.jpg");
    min-height: 30% !important;
    max-height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
    background-color: #3e3a3b !important;
}

#logo {
    height: 62px;
    width: auto;
    display: block;
    position: absolute;
    padding-left: 3%;
    padding-top: 3%;
}

#start-section {
    min-height: 0vh !important;
    position: relative;
    display: inline-block;
}

#start-section ul div {
    display: inline-block;
    padding-top: 105px;
    padding-bottom: 83px;
    text-align: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 15px;
    width: 600px;
}

#start-section ul div h4 {
    text-align: left;
}

#start-section ul div h2 {
    text-align: left;
    letter-spacing: 1.1px;
}

#start-section ul div #clsButton {
    text-align: left;
}


#start-section ul ul li {
    width: 150px;
    text-align: center;
    padding-left: 3em;
}

#numbers-section {
    min-height: 0vh !important;
}

.numbers {
    color: #c89454;
    font-size: 60px;
    font-weight: 400;
}

.number_mames {
    font-size: 27px;
    font-weight: 400;
    text-transform: none;
    color: #3e3a3b;
    margin: 22px 0 0;
}

.numbers_wrapper {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    /* padding: 20 px 30 px; */
}

.numbers_part {
    padding-top: 104px;
    padding-bottom: 94px;
    text-align: center;
    background-color: #f0eceb;
}

.navigation {
    padding-top: 2.5%;
}


/*.exploreButton {
	line-height: 50px;
	color: rgb(255, 255, 255);
	border-color: rgb(200, 148, 84);
	background-color: rgb(200, 148, 84);
    text-align: center;
}
*/

.comments {
    padding-top: 46px;
    text-align: center;
    padding-bottom: 11%;
}

.one_comment {
    padding: 0px 29% 0 29%;
}

.author_photo {
    margin: 0 0 33px;
}

.com_text {
    font-family: Open Sans, sans-serif;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: #7b7b7b;
}

.com_author {
    margin-top: 17px;
}


.mainHeader {
    text-align: center;
    width: 625px;
    font-size: 90px;
    line-height: 95px;
    color: rgb(62, 58, 59);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.secondaryHeader {
    color: #3e3a3b;
    font-size: 47px;
    line-height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.destinationImage {
    width: 340px;
    height: 460px
}

.experiencesImage {
    width: 270px;
    height: 270px
}

.topIconList {
    padding: 2.5% 25px;
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 20px;
}

.botttomIconList {
    padding: 14px 25px;
    text-align: right;
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 20px;
}

.botttomIconList a i {
    color: white;
}

.clsButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 50px;
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    letter-spacing: 2.1px;
    text-transform: uppercase;

}


.exploreButton {
    font-family: 'Open Sans', sans-serif;

    color: white;
    background-color: #c89454;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;

}

.discoverButton {
    font-family: 'Open Sans', sans-serif;

    color: #3e3a3b;
    background-color: #fff;
    border-color: #c89454;

    border: 1px solid #c89454;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.exploreButton:hover {
    background-color: #555555;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

.discoverButton:hover {
    background-color: #c89454;
    color: white;

}

footer {
    color: #3e3a3b;
}

.row {
    height: 750px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 30%;
    padding-left: 2%;
    padding-right: 2%;
}

h5 {
    font-family: "Abril Fatface", sans-serif;
    font-size: 22px;
    letter-spacing: 0.3px;
    font-weight: 400;
    text-transform: none;
    color: #c89454;
    font-style: normal;
    padding-bottom: 15px
}

.botttomIconList {
    padding: 10% 25px;
    text-align: right;
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 20px;
}